.page-header {
  //   background-color: green;
  height: 100vh;
  margin-top: 2.5vh;

  .welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
  }
}
