<header class="page-header">
  <app-nav></app-nav>
  <section class="welcome">
    <div class="presentation">
      <div class="name">David Bouhaben</div>
      <div class="profession">
        I am a

        <div class="techno-wrapper">
          <ng-container *ngFor="let stackTechno of arrStack; let i = index">
            <span [@fadeInOut]="i === indiceStack ? 'in' : 'out'">
              {{ " " + stackTechno + " " }}
            </span> 
          </ng-container>
        </div>
        <!-- web developer -->
      </div>
    </div>
  </section>
</header>
