<header class="page-header">
  <app-nav></app-nav>
  <section class="welcome">
    <!-- <div class="presentation">
      <div class="name">{{ name }} {{ secondName }} {{ lastName }}</div>
      <div class="profession-container">
        <div>I am a</div>
        <div class="techno-wrapper">
          <ng-container
            *ngFor="let stackTechno of technologieStack; let i = index"
          >
            <span [@fadeInOut]="i === indiceStackAcctuel ? 'in' : 'out'">
              {{ stackTechno }}
            </span>
          </ng-container>
        </div>
        <div class="profession">developer</div>
      </div>
    </div> -->
    <nav>
      <div class="groupe-content">
        {{ groupe }}
        <a href="">
          <app-info-music [artist]="dataMusic"></app-info-music>
        </a>
      </div>
    </nav>
  </section>
</header>
