.page-header {
  //   background-color: green;
  height: 100vh;
  margin-top: 2.5vh;

  .welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // align-items: start;
    height: 500px;
    width: 80%; // Définir une largeur pour le contenu
    max-width: 1200px; // Empêcher le contenu de devenir trop large sur les grands écrans
    margin: 0 auto; // Centrer le contenu verticalement
    .presentation {
      display: flex;
      flex-direction: column;
      align-items: center; // Centrer le texte horizontalement
    }
  }

  .profession-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    span {
      position: absolute;
      margin-left: 5vh;
    }
    .profession {
      line-height: 4.7;
      margin-left: 10vh;
    }
  }

  .groupe-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    width: 160%;
    margin: 30% 0rem 0 -18rem;
    a {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: white;
    }
  }
}
