ul {
  list-style-type: none;
  margin: 0.5rem 0 0rem 0;

  li {
    display: inline;
    margin: 0 1rem 0 0;
    a {
      position: relative;
      color: white;
      text-decoration: none;
      padding-bottom: 1.5rem;
      transition: color 0.3 ease-in;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 4px;
        background-color: #ff6347;
        transform: scaleX(0);
        transition: transform 0.3 ease-out;
      }
      &:hover {
        color: #ff6347;
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }
}

.logoAndNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8em;
}
