<section class="page-wrapper">
  <div class="page-header">
    <p>{{ bonjour }}</p>
  </div>
</section>

<!-- Creer un component header, ajouter le header au composant racine -->
<!-- Selector app.header -->
<!-- dans header, niveau html, on trouve une balise nav, dedans on va voir un a qui s'appelle groupes -->
<!-- a l'interieur, une liste (unordered list) deux li differents dans chaque li on aura le A -->
<!-- Le premier 1. les albums 2. les musiciens. Dans le style .sccs tous les flexs donc on a besoin, toutes les flexs -->
<!-- Ensuite, créer de margine et de pading m-10 -->
<!-- Système de débug, une classe d1 border pour voir ou elle va, border red et green etc de2 -->
<!-- SCSS background color border radius, avec animation si possible en gros rendre jolie -->
<!-- u autre etape, creer deux interfaces, un pour un groupe et une autre pour l'album et une interface pour un musicien et on le met dans le dossier modele qu'on appele -->
