<app-header></app-header>
<!-- <section>
  <div class="page-header">
    <p>{{ bonjour }}</p>
  </div>
</section> -->

<!-- Créez un composant "header" : Dans votre application Angular, créez un nouveau composant appelé "header".
Ajoutez le composant "header" au composant racine : Pour cela, vous devez ajouter la balise du sélecteur du composant "header" (par exemple <app-header></app-header>) dans le fichier HTML du composant racine (habituellement app.component.html).
Structure du composant "header" : Dans le fichier HTML du composant "header", vous aurez besoin d'une balise nav. À l'intérieur de cette balise nav, créez une balise d'ancre (<a>) avec le texte "Groupes". Ensuite, à l'intérieur de cette balise a, créez une liste non ordonnée (<ul>) avec deux éléments de liste (<li>) différents. Chaque élément li devrait contenir une balise d'ancre (<a>), le premier avec le texte "Albums" et le deuxième avec le texte "Musiciens".
Stylisez votre composant "header" : Dans le fichier SCSS associé à votre composant "header", appliquez toutes les propriétés flex nécessaires pour disposer vos éléments correctement. Ajoutez également les marges et les paddings appropriés, par exemple margin: 10px et padding: 10px. Pour aider au débogage, vous pouvez ajouter une bordure temporaire avec une classe comme .d1-border. N'oubliez pas de rendre votre composant "header" attrayant en ajoutant une couleur de fond, un rayon de bordure et éventuellement une animation.
Créez des interfaces pour les groupes, les albums et les musiciens : Créez un dossier appelé "modèles" et à l'intérieur, définissez trois interfaces : une pour un groupe, une pour un album et une autre pour un musicien. Ces interfaces définiront le type de données que vous attendez pour chaque entité dans votre application. -->
