<ul class="d1-border">
  <li>
    <a href="" onclick="return false"
      ><span class="artist-text"> {{ artist.name }}</span></a
    >
  </li>
  <!-- <li>
    <span class="members-text">
      <span *ngFor="let member of artist.members"
        ><a href="" onclick="return false">{{
          member.active ? member.name : ""
        }}</a></span
      >
    </span>
  </li> -->
  <li>
    <!-- <a href="" onclick="return false"
      ><span class="album-text" *ngFor="let bands of bandAndAlbums | keyvalue">
        {{ bands.value.albums | json }}</span
      >
      <img [src]="bandAndAlbums" alt="" />
    </a> -->
  </li>
</ul>
